<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo app</title>
</head>
<body>

    <h1> todo app </h1>
    <form action="/add" method="post">
        <div>
            <label for="title"> todo title </label>
            <input type="text" name="title" placeholder="enter todo...">
            <br>
            <button type=submit>add</button>
        </div>
    </form>

    <!-- jinja template in action -->
    {% for todo in todo_list%}
        <p> {{todo.id}}, {{todo.title}} </p>

        {% if  not todo.complete %}
            <span>not completed</span>
        {% else %}
            <span>completed</span>
        {% endif %}

        <a href="/"> Update </a>
        <a href="/"> Delete </a>

    {% endfor%}

</body>
</html>
